.paginationContainer {
  display: flex;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 50px;
}

.pagination__btn {
  background-color: #fff;
  height: 50px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  line-height: 50px;
  cursor: pointer;
  border: none;
  outline: none;
  &_prev {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  &_next {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    border-left: 1px solid #000;
  }
}
